body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.converter {
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 8px;
  width: 150px;
  margin-right: 10px;
}

select {
  padding: 8px;
}

button {
  padding: 8px 20px;
  background-color: #be2727;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #be2727;
}

#result {
  font-size: 20px;
  font-weight: bold;
}
